.one-card {
    box-shadow: 0 0 10px #5e0b10;
    width: 290px;
    padding: 12px;

    img {
        display: block;
        width: 285px;
        margin: 0 auto;
        height: 165px;
        overflow: hidden;
    }
}
